<p id="notice"><%= notice %></p>

<p>
  <strong>Startdate:</strong>
  <%= @fixture.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @fixture.endDate %>
</p>

<%= link_to 'Edit', edit_fixture_path(@fixture) %> |
<%= link_to 'Back', fixtures_path %>
